{% extends "base.html" %}
{% block title %}Add Link | OpenLeaks{% endblock %}

{% block content %}
<div class="container mt-4" style="max-width: 600px;">
  <h2 class="text-center mb-4">Add a New Link</h2>

  <form action="{{ url_for('add_link') }}" method="post">
    
    <div class="form-group">
      <label>Title</label>
      <input type="text" name="title" class="form-control" required>
    </div>

    <div class="form-group">
      <label>Link URL</label>
      <input type="url" name="link" class="form-control" required>
    </div>

    <div class="form-group">
      <label>Size</label>
      <input type="text" name="size" class="form-control" placeholder="1.2 GB">
    </div>

    <div class="form-group">
      <label>Category</label>
      <select class="form-control" name="category">
        <option value="all">All Categories</option>
        <option value="audio">Audio</option>
        <option value="video">Video</option>
        <option value="image">Image</option>
        <option value="pdf">PDF</option>
        <option value="misc">Misc</option>
      </select>
    </div>

    <div class="form-group">
      <label>Tags (comma separated)</label>
      <input type="text" name="tags" class="form-control" placeholder="music, pdf, anime">
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" name="desc" rows="4"></textarea>
    </div>

    <button class="btn btn-primary btn-block">Submit</button>
  </form>
</div>
{% endblock %}
